body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #be2ed6;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    text-align: center;
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #be2ed6;
}
section {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #be2ed6;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}